nav{
    padding: 40px;
    float: right;
}
div{
    padding: 40px;
    float: left;
}
button{
    padding: 30px;
    border-radius: 40px;
    margin-left: 0px;
    float: none;
    font-style: italic;
    background-color: cadetblue;
    color: white;
}
p{
    font-size: 30;
}
