div{
    float: right;
}
nav{
    float: right;
    padding: 50px;
    height: 10px;
    background-color: gray;
}
nav li{
    background-color: gray;
}
p{
    font-size: 20px;
}
button{
    padding: 15px;
    margin-right: 5px;
    margin-left: 150px;
    font-style: italic;
    border-radius: 20;
    background-color: black;
}